@import url('https://fonts.ycode.com/css2?family=Anton:wght@400&display=swap');
@import url('https://fonts.ycode.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.font-arial {
    font-family: 'Arial', sans-serif;
}

.hover\:font-arial:hover {
    font-family: 'Arial', sans-serif;
}

.focus\:font-arial:focus {
    font-family: 'Arial', sans-serif;
}

.active\:font-arial:active {
    font-family: 'Arial', sans-serif;
}

.font-helvetica {
    font-family: 'Helvetica', sans-serif;
}

.hover\:font-helvetica:hover {
    font-family: 'Helvetica', sans-serif;
}

.focus\:font-helvetica:focus {
    font-family: 'Helvetica', sans-serif;
}

.active\:font-helvetica:active {
    font-family: 'Helvetica', sans-serif;
}

.font-verdana {
    font-family: 'Verdana', sans-serif;
}

.hover\:font-verdana:hover {
    font-family: 'Verdana', sans-serif;
}

.focus\:font-verdana:focus {
    font-family: 'Verdana', sans-serif;
}

.active\:font-verdana:active {
    font-family: 'Verdana', sans-serif;
}

.font-trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif;
}

.hover\:font-trebuchet-ms:hover {
    font-family: 'Trebuchet MS', sans-serif;
}

.focus\:font-trebuchet-ms:focus {
    font-family: 'Trebuchet MS', sans-serif;
}

.active\:font-trebuchet-ms:active {
    font-family: 'Trebuchet MS', sans-serif;
}

.font-tahoma {
    font-family: 'Tahoma', sans-serif;
}

.hover\:font-tahoma:hover {
    font-family: 'Tahoma', sans-serif;
}

.focus\:font-tahoma:focus {
    font-family: 'Tahoma', sans-serif;
}

.active\:font-tahoma:active {
    font-family: 'Tahoma', sans-serif;
}

.font-georgia {
    font-family: 'Georgia', serif;
}

.hover\:font-georgia:hover {
    font-family: 'Georgia', serif;
}

.focus\:font-georgia:focus {
    font-family: 'Georgia', serif;
}

.active\:font-georgia:active {
    font-family: 'Georgia', serif;
}

.font-times-new-roman {
    font-family: 'Times New Roman', serif;
}

.hover\:font-times-new-roman:hover {
    font-family: 'Times New Roman', serif;
}

.focus\:font-times-new-roman:focus {
    font-family: 'Times New Roman', serif;
}

.active\:font-times-new-roman:active {
    font-family: 'Times New Roman', serif;
}

.font-system-ui {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
}

.hover\:font-system-ui:hover {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
}

.focus\:font-system-ui:focus {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
}

.active\:font-system-ui:active {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
}

.font-anton {
    font-family: 'Anton', sans-serif;
}

.hover\:font-anton:hover {
    font-family: 'Anton', sans-serif;
}

.focus\:font-anton:focus {
    font-family: 'Anton', sans-serif;
}

.active\:font-anton:active {
    font-family: 'Anton', sans-serif;
}

.font-space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.hover\:font-space-grotesk:hover {
    font-family: 'Space Grotesk', sans-serif;
}

.focus\:font-space-grotesk:focus {
    font-family: 'Space Grotesk', sans-serif;
}

.active\:font-space-grotesk:active {
    font-family: 'Space Grotesk', sans-serif;
}

@media(min-width: 1536px) {
    .xl\:font-arial {
        font-family: 'Arial', sans-serif;
    }

    .xl\:font-helvetica {
        font-family: 'Helvetica', sans-serif;
    }

    .xl\:font-verdana {
        font-family: 'Verdana', sans-serif;
    }

    .xl\:font-trebuchet-ms {
        font-family: 'Trebuchet MS', sans-serif;
    }

    .xl\:font-tahoma {
        font-family: 'Tahoma', sans-serif;
    }

    .xl\:font-georgia {
        font-family: 'Georgia', serif;
    }

    .xl\:font-times-new-roman {
        font-family: 'Times New Roman', serif;
    }

    .xl\:font-system-ui {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
    }

    .xl\:font-anton {
        font-family: 'Anton', sans-serif;
    }

    .xl\:font-space-grotesk {
        font-family: 'Space Grotesk', sans-serif;
    }
}

@media(min-width: 1920px) {
    .\32xl\:font-arial {
        font-family: 'Arial', sans-serif;
    }

    .\32xl\:font-helvetica {
        font-family: 'Helvetica', sans-serif;
    }

    .\32xl\:font-verdana {
        font-family: 'Verdana', sans-serif;
    }

    .\32xl\:font-trebuchet-ms {
        font-family: 'Trebuchet MS', sans-serif;
    }

    .\32xl\:font-tahoma {
        font-family: 'Tahoma', sans-serif;
    }

    .\32xl\:font-georgia {
        font-family: 'Georgia', serif;
    }

    .\32xl\:font-times-new-roman {
        font-family: 'Times New Roman', serif;
    }

    .\32xl\:font-system-ui {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
    }

    .\32xl\:font-anton {
        font-family: 'Anton', sans-serif;
    }

    .\32xl\:font-space-grotesk {
        font-family: 'Space Grotesk', sans-serif;
    }
}

@media(max-width: 1080px) {
    .lg\:font-arial {
        font-family: 'Arial', sans-serif;
    }

    .lg\:font-helvetica {
        font-family: 'Helvetica', sans-serif;
    }

    .lg\:font-verdana {
        font-family: 'Verdana', sans-serif;
    }

    .lg\:font-trebuchet-ms {
        font-family: 'Trebuchet MS', sans-serif;
    }

    .lg\:font-tahoma {
        font-family: 'Tahoma', sans-serif;
    }

    .lg\:font-georgia {
        font-family: 'Georgia', serif;
    }

    .lg\:font-times-new-roman {
        font-family: 'Times New Roman', serif;
    }

    .lg\:font-system-ui {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
    }

    .lg\:font-anton {
        font-family: 'Anton', sans-serif;
    }

    .lg\:font-space-grotesk {
        font-family: 'Space Grotesk', sans-serif;
    }
}

@media(max-width: 844px) {
    .md\:font-arial {
        font-family: 'Arial', sans-serif;
    }

    .md\:font-helvetica {
        font-family: 'Helvetica', sans-serif;
    }

    .md\:font-verdana {
        font-family: 'Verdana', sans-serif;
    }

    .md\:font-trebuchet-ms {
        font-family: 'Trebuchet MS', sans-serif;
    }

    .md\:font-tahoma {
        font-family: 'Tahoma', sans-serif;
    }

    .md\:font-georgia {
        font-family: 'Georgia', serif;
    }

    .md\:font-times-new-roman {
        font-family: 'Times New Roman', serif;
    }

    .md\:font-system-ui {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
    }

    .md\:font-anton {
        font-family: 'Anton', sans-serif;
    }

    .md\:font-space-grotesk {
        font-family: 'Space Grotesk', sans-serif;
    }
}

@media(max-width: 640px) {
    .sm\:font-arial {
        font-family: 'Arial', sans-serif;
    }

    .sm\:font-helvetica {
        font-family: 'Helvetica', sans-serif;
    }

    .sm\:font-verdana {
        font-family: 'Verdana', sans-serif;
    }

    .sm\:font-trebuchet-ms {
        font-family: 'Trebuchet MS', sans-serif;
    }

    .sm\:font-tahoma {
        font-family: 'Tahoma', sans-serif;
    }

    .sm\:font-georgia {
        font-family: 'Georgia', serif;
    }

    .sm\:font-times-new-roman {
        font-family: 'Times New Roman', serif;
    }

    .sm\:font-system-ui {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
    }

    .sm\:font-anton {
        font-family: 'Anton', sans-serif;
    }

    .sm\:font-space-grotesk {
        font-family: 'Space Grotesk', sans-serif;
    }
}

/*! tailwindcss v2.2.0 | MIT License | https://tailwindcss.com */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
    margin: 0;
}

/** * Render the `main` element consistently in IE. */
main {
    display: block;
}

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
    background-color: transparent;
}

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
    font-weight: bolder;
}

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/** * Add the correct font size in all browsers. */
small {
    font-size: 80%;
}

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
    border-style: none;
}

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button,
input {
    /* 1 */
    overflow: visible;
}

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button,
select {
    /* 1 */
    text-transform: none;
}

/** * Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/** * Correct the padding in Firefox. */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
    vertical-align: baseline;
}

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
    overflow: auto;
}

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
    display: block;
}

/* * Add the correct display in all browsers. */
summary {
    display: list-item;
}

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
    display: none;
}

/** * Add the correct display in IE 10. */
[hidden] {
    display: none;
}

/** * Manually forked from SUIT CSS Base: https://github.com/suitcss/base * A thin layer on top of normalize.css that provides a starting point more * suitable for web applications. */
/** * Removes the default spacing and border for appropriate elements. */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

/** * Work around a Firefox/IE bug where the transparent `button` background * results in a loss of the default `button` focus styles. */
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/** * Tailwind custom reset styles */
/** * 1. Use the user's configured `sans` font-family (with Tailwind's default * sans-serif font stack as a fallback) as a sane default. * 2. Use Tailwind's default "normal" line-height so the user isn't forced * to override it to ensure consistency even when using the default theme. */
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    line-height: 1.5;
    /* 2 */
}

/** * Inherit font-family and line-height from `html` so users can set them as * a class directly on the `html` element. */
body {
    font-family: inherit;
    line-height: inherit;
}

/** * 1. Prevent padding and border from affecting element width. * * We used to set this in the html element and inherit from * the parent element for everything else. This caused issues * in shadow-dom-enhanced elements like <details> where the content * is wrapped by a div with box-sizing set to `content-box`. * * https://github.com/mozdevs/cssremedy/issues/4 * * * 2. Allow adding a border to an element by just adding a border-width. * * By default, the way the browser specifies that an element should have no * border is by setting it's border-style to `none` in the user-agent * stylesheet. * * In order to easily add borders to elements by just setting the `border-width` * property, we change the default border-style for all elements to `solid`, and * use border-width to hide them instead. This way our `border` utilities only * need to set the `border-width` property instead of the entire `border` * shorthand, making our border utilities much more straightforward to compose. * * https://github.com/tailwindcss/tailwindcss/pull/116 */
*,
::before,
::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: currentColor;
    /* 2 */
}

/* * Ensure horizontal rules are visible by default */
hr {
    border-top-width: 1px;
}

/** * Undo the `border-style: none` reset that Normalize applies to images so that * our `border-{width}` utilities have the expected effect. * * The Normalize reset is unnecessary for us since we default the border-width * to 0 on all elements. * * https://github.com/tailwindcss/tailwindcss/issues/362 */
img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button,
[role="button"] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/** * Reset links to optimize for opt-in styling instead of * opt-out. */
a {
    color: inherit;
    text-decoration: inherit;
}

/** * Reset form element properties that are easy to forget to * style explicitly so you don't inadvertently introduce * styles that deviate from your design system. These styles * supplement a partial reset that is already applied by * normalize.css. */
button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

/** * Use the configured 'mono' font family for elements that * are expected to be rendered with a monospace font, falling * back to the system monospace stack if there is no configured * 'mono' font family. */
pre,
code,
kbd,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/** * 1. Make replaced elements `display: block` by default as that's * the behavior you want almost all of the time. Inspired by * CSS Remedy, with `svg` added as well. * * https://github.com/mozdevs/cssremedy/issues/14 * * 2. Add `vertical-align: middle` to align replaced elements more * sensibly by default when overriding `display` by adding a * utility like `inline`. * * This can trigger a poorly considered linting error in some * tools but is included by design. * * https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

/** * Constrain images and videos to the parent width and preserve * their intrinsic aspect ratio. * * https://github.com/mozdevs/cssremedy/issues/14 */
img,
video {
    max-width: 100%;
    height: auto;
}

*,
::before,
::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-drop-shadow: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-opacity: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.container {
    width: 100%;
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-auto {
    pointer-events: auto;
}

.visible {
    visibility: visible;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.top-\[0px\] {
    top: 0px;
}

.right-\[0px\] {
    right: 0px;
}

.left-\[0px\] {
    left: 0px;
}

.bottom-\[0px\] {
    bottom: 0px;
}

.top-\[0\] {
    top: 0;
}

.left-\[0\] {
    left: 0;
}

.z-\[100\] {
    z-index: 100;
}

.z-\[30\] {
    z-index: 30;
}

.z-\[auto\] {
    z-index: auto;
}

.z-\[2000\] {
    z-index: 2000;
}

.z-\[20\] {
    z-index: 20;
}

.z-\[-100\] {
    z-index: -100;
}

.col-start-\[3\] {
    grid-column-start: 3;
}

.col-start-\[1\] {
    grid-column-start: 1;
}

.col-start-\[7\] {
    grid-column-start: 7;
}

.col-start-\[2\] {
    grid-column-start: 2;
}

.col-end-\[5\] {
    grid-column-end: 5;
}

.col-end-\[6\] {
    grid-column-end: 6;
}

.col-end-\[13\] {
    grid-column-end: 13;
}

.col-end-\[12\] {
    grid-column-end: 12;
}

.row-start-\[1\] {
    grid-row-start: 1;
}

.row-start-\[3\] {
    grid-row-start: 3;
}

.row-start-\[6\] {
    grid-row-start: 6;
}

.row-start-\[7\] {
    grid-row-start: 7;
}

.row-end-\[4\] {
    grid-row-end: 4;
}

.row-end-\[5\] {
    grid-row-end: 5;
}

.row-end-\[8\] {
    grid-row-end: 8;
}

.row-end-\[10\] {
    grid-row-end: 10;
}

.m-0 {
    margin: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-\[0\] {
    margin-top: 0;
}

.mr-\[auto\] {
    margin-right: auto;
}

.mb-\[0\] {
    margin-bottom: 0;
}

.ml-\[auto\] {
    margin-left: auto;
}

.mt-\[150px\] {
    margin-top: 150px;
}

.mt-\[0px\] {
    margin-top: 0px;
}

.mt-\[250px\] {
    margin-top: 250px;
}

.mt-\[100px\] {
    margin-top: 100px;
}

.ml-\[0\%\] {
    margin-left: 0%;
}

.mr-\[0\%\] {
    margin-right: 0%;
}

.mt-\[20px\] {
    margin-top: 20px;
}

.mt-\[-30px\] {
    margin-top: -30px;
}

.mb-\[150px\] {
    margin-bottom: 150px;
}

.mt-\[200px\] {
    margin-top: 200px;
}

.mb-\[100px\] {
    margin-bottom: 100px;
}

.mb-\[0px\] {
    margin-bottom: 0px;
}

.mt-\[50px\] {
    margin-top: 50px;
}

.mb-\[32px\] {
    margin-bottom: 32px;
}

.mb-\[24px\] {
    margin-bottom: 24px;
}

.mb-\[6px\] {
    margin-bottom: 6px;
}

.mt-\[56px\] {
    margin-top: 56px;
}

.ml-\[12px\] {
    margin-left: 12px;
}

.mr-\[0px\] {
    margin-right: 0px;
}

.ml-\[0px\] {
    margin-left: 0px;
}

.profilelink:hover{
    opacity: 50%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.contents {
    display: contents;
}

.hidden {
    display: none;
}

.h-auto {
    height: auto;
}

.h-\[100\%\] {
    height: 100%;
}

.h-\[4px\] {
    height: 4px;
}

.h-\[auto\] {
    height: auto;
}

.h-\[25\%\] {
    height: 25%;
}

.h-\[80px\] {
    height: 80px;
}

.min-h-\[100\%\] {
    min-height: 100%;
}

.w-\[100\%\] {
    width: 100%;
}

.w-\[10px\] {
    width: 10px;
}

.w-\[auto\] {
    width: auto;
}

.w-\[70px\] {
    width: 70px;
}

.w-\[66\.67\%\] {
    width: 66.67%;
}

.w-\[25\%\] {
    width: 25%;
}

.w-\[83\.33\%\] {
    width: 83.33%;
}

.w-\[24px\] {
    width: 24px;
}

.w-\[16\.67\%\] {
    width: 16.67%;
}

.w-\[50\%\] {
    width: 50%;
}

.w-\[75\%\] {
    width: 75%;
}

.w-\[80px\] {
    width: 80px;
}
.w-\[60px\] {
    width: 60px;
}

.w-\[25rem\] {
    width: 25rem;
}

.max-w-\[1536px\] {
    max-width: 1536px;
}

.max-w-\[100\%\] {
    max-width: 100%;
}

.max-w-\[1024px\] {
    max-width: 1024px;
}

.max-w-\[80rem\] {
    max-width: 80rem;
}

.flex-none {
    flex: none;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-grow {
    flex-grow: 1;
}

.border-collapse {
    border-collapse: collapse;
}

.cursor-auto {
    cursor: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.select-auto {
    user-select: auto;
}

.resize {
    resize: both;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-\[15px\] {
    gap: 15px;
}

.gap-\[150px\] {
    gap: 150px;
}

.gap-\[200px\] {
    gap: 200px;
}

.gap-\[8px\] {
    gap: 8px;
}

.gap-\[72px\] {
    gap: 72px;
}

.gap-\[80px\] {
    gap: 80px;
}

.gap-\[10px\] {
    gap: 10px;
}

.gap-\[120px\] {
    gap: 120px;
}

.gap-\[50px\] {
    gap: 50px;
}

.gap-\[30px\] {
    gap: 30px;
}

.gap-\[100px\] {
    gap: 100px;
}

.gap-\[20px\] {
    gap: 20px;
}

.gap-\[0px\] {
    gap: 0px;
}


.gap-\[40px\] {
    gap: 40px;
}

.space-x-\[12px\]> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(12px * var(--tw-space-x-reverse));
    margin-left: calc(12px * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-\[32px\]> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(32px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(32px * var(--tw-space-y-reverse));
}

.divide-y-\[1px\]> :not([hidden])~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-\[\#e4e4e7\]> :not([hidden])~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgba(228, 228, 231, var(--tw-divide-opacity));
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.rounded-\[9999px\] {
    border-radius: 9999px;
}

.rounded-\[0px\] {
    border-radius: 0px;
}

.rounded-\[6px\] {
    border-radius: 6px;
}

.border {
    border-width: 1px;
}

.border-\[1px\] {
    border-width: 1px;
}

.border-\[0px\] {
    border-width: 0px;
}

.border-t-\[0px\] {
    border-top-width: 0px;
}

.border-b-\[1px\] {
    border-bottom-width: 1px;
}

.border-r-\[0px\] {
    border-right-width: 0px;
}

.border-l-\[0px\] {
    border-left-width: 0px;
}

.border-solid {
    border-style: solid;
}

.border-none {
    border-style: none;
}

.border-\[white\] {
    --tw-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-\[\#3f3f46\] {
    --tw-border-opacity: 1;
    border-color: rgba(63, 63, 70, var(--tw-border-opacity));
}

.border-\[\#18181b\] {
    --tw-border-opacity: 1;
    border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}

.border-\[black\] {
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border-\[\#000000\] {
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border-\[transparent\] {
    border-color: transparent;
}

.border-opacity-\[20\%\] {
    --tw-border-opacity: 20%;
}

.border-opacity-\[25\%\] {
    --tw-border-opacity: 25%;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-\[white\] {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-\[black\] {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-\[\#000000\] {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-\[\#fca5a5\] {
    --tw-bg-opacity: 1;
    background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
}

.bg-opacity-100 {
    --tw-bg-opacity: 1;
}

.object-fill {
    object-fit: fill;
}

.pb-\[0px\] {
    padding-bottom: 0px;
}

.pt-\[48px\] {
    padding-top: 48px;
}

.pb-\[48px\] {
    padding-bottom: 48px;
}

.pt-\[0\] {
    padding-top: 0;
}

.pr-\[32px\] {
    padding-right: 32px;
}

.pb-\[0\] {
    padding-bottom: 0;
}

.pl-\[32px\] {
    padding-left: 32px;
}

.pt-\[80px\] {
    padding-top: 80px;
}

.pb-\[100px\] {
    padding-bottom: 100px;
}

.pb-\[160px\] {
    padding-bottom: 160px;
}

.pt-\[60px\] {
    padding-top: 60px;
}

.pt-\[120px\] {
    padding-top: 120px;
}

.pr-\[50px\] {
    padding-right: 50px;
}

.pl-\[50px\] {
    padding-left: 50px;
}

.pt-\[25px\] {
    padding-top: 25px;
}

.pb-\[25px\] {
    padding-bottom: 25px;
}

.pb-\[150px\] {
    padding-bottom: 150px;
}

.pt-\[50px\] {
    padding-top: 50px;
}

.pt-\[0px\] {
    padding-top: 0px;
}

.pb-\[200px\] {
    padding-bottom: 200px;
}

.pt-\[30px\] {
    padding-top: 30px;
}

.pb-\[32px\] {
    padding-bottom: 32px;
}

.pt-\[32px\] {
    padding-top: 32px;
}

.pt-\[200px\] {
    padding-top: 200px;
}

.pr-\[150px\] {
    padding-right: 150px;
}

.pl-\[150px\] {
    padding-left: 150px;
}

.pt-\[40px\] {
    padding-top: 40px;
}

.pb-\[40px\] {
    padding-bottom: 40px;
}

.pl-\[40px\] {
    padding-left: 40px;
}

.pr-\[40px\] {
    padding-right: 40px;
}

.pt-\[12px\] {
    padding-top: 12px;
}

.pb-\[12px\] {
    padding-bottom: 12px;
}

.pb-\[50px\] {
    padding-bottom: 50px;
}

.pb-\[80px\] {
    padding-bottom: 80px;
}

.pb-\[300px\] {
    padding-bottom: 300px;
}

.pl-\[0px\] {
    padding-left: 0px;
}

.pl-\[200px\] {
    padding-left: 200px;
}

.pr-\[200px\] {
    padding-right: 200px;
}

.pr-\[20px\] {
    padding-right: 20px;
}

.pl-\[20px\] {
    padding-left: 20px;
}

.pr-\[12px\] {
    padding-right: 12px;
}

.pb-\[15px\] {
    padding-bottom: 15px;
}

.pr-\[15px\] {
    padding-right: 15px;
}

.pb-\[8px\] {
    padding-bottom: 8px;
}

.pt-\[20px\] {
    padding-top: 20px;
}

.pb-\[20px\] {
    padding-bottom: 20px;
}

.pb-\[56\.25\%\] {
    padding-bottom: 56.25%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-\[20px\] {
    font-size: 20px;
}

.text-\[30px\] {
    font-size: 30px;
}

.text-\[128px\] {
    font-size: 128px;
}

.text-\[48px\] {
    font-size: 48px;
}

.text-\[96px\] {
    font-size: 96px;
}

.text-\[24px\] {
    font-size: 24px;
}

.text-\[18px\] {
    font-size: 18px;
}

.text-\[60px\] {
    font-size: 60px;
}

.text-\[16px\] {
    font-size: 16px;
}

.text-\[14px\] {
    font-size: 14px;
}

.text-\[36px\] {
    font-size: 36px;
}

.text-\[50px\] {
    font-size: 50px;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.leading-relaxed {
    line-height: 1.625;
}

.leading-\[1em\] {
    line-height: 1em;
}

.leading-\[1\.375em\] {
    line-height: 1.375em;
}

.leading-\[1\.25rem\] {
    line-height: 1.25rem;
}

.leading-\[1\.10em\] {
    line-height: 1.10em;
}

.leading-\[1\.25em\] {
    line-height: 1.25em;
}

.leading-\[1\.625em\] {
    line-height: 1.625em;
}

.leading-\[1\.5em\] {
    line-height: 1.5em;
}

.tracking-\[-0\.025em\] {
    letter-spacing: -0.025em;
}

.tracking-\[0\.025em\] {
    letter-spacing: 0.025em;
}

.tracking-\[0px\] {
    letter-spacing: 0px;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-\[\#a1a1aa\] {
    --tw-text-opacity: 1;
    color: rgba(161, 161, 170, var(--tw-text-opacity));
}

.text-\[white\] {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-\[\#71717a\] {
    --tw-text-opacity: 1;
    color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.text-\[\#52525b\] {
    --tw-text-opacity: 1;
    color: rgba(82, 82, 91, var(--tw-text-opacity));
}

.text-\[black\] {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-\[\#991b1b\] {
    --tw-text-opacity: 1;
    color: rgba(153, 27, 27, var(--tw-text-opacity));
}

.text-opacity-\[70\%\] {
    --tw-text-opacity: 70%;
}

.underline {
    text-decoration: underline;
}

.placeholder-\[black\]::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-placeholder-opacity));
}

.placeholder-opacity-\[50\%\]::placeholder {
    --tw-placeholder-opacity: 50%;
}

.opacity-\[100\%\] {
    opacity: 100%;
}

.opacity-\[30\%\] {
    opacity: 30%;
}

.bandw{
    filter: grayscale(100%);
}

.mix-blend-normal {
    mix-blend-mode: normal;
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-filter);
}

.grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-filter);
}

.invert {
    --tw-invert: invert(100%);
    filter: var(--tw-filter);
}

.invert-\[100\%\] {
    --tw-invert: invert(100%);
    filter: var(--tw-filter);
}

.invert-\[0\%\] {
    --tw-invert: invert(0%);
    filter: var(--tw-filter);
}

.invert-\[2\%\] {
    --tw-invert: invert(2%);
    filter: var(--tw-filter);
}

.sepia {
    --tw-sepia: sepia(100%);
    filter: var(--tw-filter);
}

.hover\:pointer-events-auto:hover {
    pointer-events: auto;
}

.hover\:z-\[2000\]:hover {
    z-index: 2000;
}

.hover\:w-\[auto\]:hover {
    width: auto;
}

.hover\:cursor-pointer:hover {
    cursor: pointer;
}

.hover\:select-auto:hover {
    user-select: auto;
}

.hover\:border-\[white\]:hover {
    --tw-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.hover\:border-\[\#18181b\]:hover {
    --tw-border-opacity: 1;
    border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}

.hover\:border-\[\#a1a1aa\]:hover {
    --tw-border-opacity: 1;
    border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}

.hover\:border-\[black\]:hover {
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.hover\:bg-\[\#18181b\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}

.hover\:bg-\[white\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:text-\[\#f4f4f5\]:hover {
    --tw-text-opacity: 1;
    color: rgba(244, 244, 245, var(--tw-text-opacity));
}

.hover\:underline:hover {
    text-decoration: underline;
}

.hover\:no-underline:hover {
    text-decoration: none;
}

.hover\:blur-\[0px\]:hover {
    --tw-blur: blur(0px);
    filter: var(--tw-filter);
}

.hover\:grayscale-\[100\%\]:hover {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-filter);
}

.hover\:hue-rotate-\[0deg\]:hover {
    --tw-hue-rotate: hue-rotate(0deg);
    filter: var(--tw-filter);
}

.hover\:invert-\[0\%\]:hover {
    --tw-invert: invert(0%);
    filter: var(--tw-filter);
}

.hover\:invert-\[100\%\]:hover {
    --tw-invert: invert(100%);
    filter: var(--tw-filter);
}

.hover\:saturate-\[0\.91\]:hover {
    --tw-saturate: saturate(0.91);
    filter: var(--tw-filter);
}

.hover\:sepia-\[0\%\]:hover {
    --tw-sepia: sepia(0%);
    filter: var(--tw-filter);
}

.focus\:border-\[\#000000\]:focus {
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.focus\:border-opacity-\[50\%\]:focus {
    --tw-border-opacity: 50%;
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 1536px) {
    .xl\:pr-\[40px\] {
        padding-right: 40px;
    }

    .xl\:pl-\[40px\] {
        padding-left: 40px;
    }
}

@media (max-width: 844px) {
    .md\:block {
        display: block;
    }

    .md\:hidden {
        display: none;
    }

    .md\:w-\[50\%\] {
        width: 50%;
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:flex-col {
        flex-direction: column;
    }

    .md\:gap-\[56px\] {
        gap: 56px;
    }

    .md\:pr-\[24px\] {
        padding-right: 24px;
    }

    .md\:pl-\[24px\] {
        padding-left: 24px;
    }

    .md\:pt-\[60px\] {
        padding-top: 60px;
    }

    .md\:pb-\[60px\] {
        padding-bottom: 60px;
    }

    .md\:text-\[60px\] {
        font-size: 60px;
    }
}

@media (max-width: 640px) {
    .sm\:col-start-\[auto\] {
        grid-column-start: auto;
    }

    .sm\:col-end-\[auto\] {
        grid-column-end: auto;
    }

    .sm\:mt-\[100px\] {
        margin-top: 100px;
    }

    .sm\:mt-\[50px\] {
        margin-top: 50px;
    }

    .sm\:mt-\[40px\] {
        margin-top: 40px;
    }

    .sm\:mt-\[0px\] {
        margin-top: 0px;
    }

    .sm\:mt-\[60px\] {
        margin-top: 60px;
    }

    .sm\:ml-\[50px\] {
        margin-left: 50px;
    }

    .sm\:mr-\[50px\] {
        margin-right: 50px;
    }

    .sm\:mb-\[50px\] {
        margin-bottom: 50px;
    }

    .sm\:flex {
        display: flex;
    }

    .sm\:grid {
        display: grid;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:w-\[200px\] {
        width: 200px;
    }

    .sm\:w-\[100\%\] {
        width: 100%;
    }

    .sm\:w-\[auto\] {
        width: auto;
    }

    .sm\:grid-flow-row {
        grid-auto-flow: row;
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .sm\:grid-rows-3 {
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }

    .sm\:flex-col {
        flex-direction: column;
    }

    .sm\:flex-nowrap {
        flex-wrap: nowrap;
    }

    .sm\:items-start {
        align-items: flex-start;
    }

    .sm\:items-center {
        align-items: center;
    }

    .sm\:justify-end {
        justify-content: flex-end;
    }

    .sm\:justify-center {
        justify-content: center;
    }

    .sm\:justify-between {
        justify-content: space-between;
    }

    .sm\:gap-\[56px\] {
        gap: 56px;
    }

    .sm\:gap-\[30px\] {
        gap: 30px;
    }

    .sm\:gap-\[50px\] {
        gap: 50px;
    }

    .sm\:gap-\[40px\] {
        gap: 40px;
    }

    .sm\:gap-\[20px\] {
        gap: 20px;
    }

    .sm\:gap-\[80px\] {
        gap: 80px;
    }

    .sm\:gap-\[0px\] {
        gap: 0px;
    }

    .sm\:border-\[white\] {
        --tw-border-opacity: 1;
        border-color: rgba(255, 255, 255, var(--tw-border-opacity));
    }

    .sm\:bg-\[\#f4f4f5\] {
        --tw-bg-opacity: 1;
        background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
    }

    .sm\:pb-\[0px\] {
        padding-bottom: 0px;
    }

    .sm\:pb-\[60px\] {
        padding-bottom: 60px;
    }

    .sm\:pt-\[40px\] {
        padding-top: 40px;
    }

    .sm\:pl-\[20px\] {
        padding-left: 20px;
    }

    .sm\:pr-\[20px\] {
        padding-right: 20px;
    }

    .sm\:pt-\[20px\] {
        padding-top: 20px;
    }

    .sm\:pb-\[20px\] {
        padding-bottom: 20px;
    }

    .sm\:pt-\[150px\] {
        padding-top: 150px;
    }

    .sm\:pb-\[150px\] {
        padding-bottom: 150px;
    }

    .sm\:pt-\[100px\] {
        padding-top: 100px;
    }

    .sm\:pb-\[100px\] {
        padding-bottom: 100px;
    }

    .sm\:pl-\[0px\] {
        padding-left: 0px;
    }

    .sm\:pt-\[8px\] {
        padding-top: 8px;
    }

    .sm\:text-center {
        text-align: center;
    }

    .sm\:text-\[20px\] {
        font-size: 20px;
    }

    .sm\:text-\[72px\] {
        font-size: 72px;
    }

    .sm\:text-\[36px\] {
        font-size: 36px;
    }

    .sm\:text-\[60px\] {
        font-size: 60px;
    }

    .sm\:text-\[18px\] {
        font-size: 18px;
    }

    .sm\:text-\[55px\] {
        font-size: 55px;
    }

    .sm\:text-\[16px\] {
        font-size: 16px;
    }

    .sm\:text-\[24px\] {
        font-size: 24px;
    }

    .sm\:text-\[30px\] {
        font-size: 30px;
    }

    .sm\:leading-\[1\.25em\] {
        line-height: 1.25em;
    }

    .sm\:text-\[white\] {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }

    .sm\:opacity-\[50\%\] {
        opacity: 50%;
    }

    .sm\:hover\:opacity-\[100\%\]:hover {
        opacity: 100%;
    }
}


